div.footer {
    color: #80bce0;
    font-size: 24pt;
    text-align: center;
}
div.footerBar {
    background-color: red;
    height: 1px;
    margin-top: 0;
    margin-bottom: 2px;
}
a {
    color: #80bce0;
    font-size: 16pt;
    text-decoration: none;
}
a:hover {
    color: #0079c1;
}