div.title {
    color: #0079c1;
    font-size: 30pt;
    text-align: center;
}
div.titleSecondLine {
    color: red;
    font-size: 18pt;
    text-align: center;
    font-style: italic;
}
div.titleBar {
    background-color: red;
    height: 1px;
    margin-top: 2px;
    margin-bottom: 0;
}
a {
    text-decoration: none;
}