<table class="table table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">
            <div class="line">
                {{ 'page.content.diplomes.titreListe' | translate }}
                <div class="btn-group" role="group" (click)="open(mymodal, 'Add')">
                    <label class="btn-primary" ngbButtonLabel>
                        <fa-icon [icon]="faPlus"></fa-icon>
                    </label>
                </div>
            </div>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let diplome of diplomes">
        <td>
            <div class="line">
                {{ diplome.titre }}
                <div class="btn-group" role="group">
                    <label class="btn-primary" ngbButtonLabel (click)="open(mymodal, 'Edit', diplome)">
                        <fa-icon [icon]="faEdit"></fa-icon>
                    </label>
                    <label class="btn-secondary" ngbButtonLabel (click)="open(mymodal, 'Remove', diplome)">
                        <fa-icon [icon]="faRemove"></fa-icon>
                    </label>
                </div>
            </div>
            
        </td>
      </tr>
    </tbody>
  </table>

  <ng-template #mymodal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">{{ 'page.content.diplomes.' + formTitle | translate }}</h4>
      <div class="btn-group" role="group" (click)="modal.dismiss(false)">
        <label class="btn-secondary" ngbButtonLabel>
            <fa-icon [icon]="faRemove"></fa-icon>
        </label>
      </div>
    </div>
    <form [formGroup]="diplomeFormGroup" *ngIf="diplomeFormGroup">
      <div class="modal-body">
        <div class="form-group">
          <label for="titre">{{ 'page.content.diplomes.diplomeTitre' | translate }}</label>
          <input class="form-control" id="titre" type="text" formControlName="titre" [readonly]="currentMode === 'Remove'">
          <div *ngIf="diplomeFormGroup.controls['titre'].errors?.['required']" style="color: red; font-style: italic;">
            {{ 'page.content.diplomes.errors.titreRequired' | translate }}
          </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="submit" (click)="modal.dismiss(true)" [disabled]="!diplomeFormGroup.valid">
            <fa-icon [icon]="faCheck"></fa-icon>
            <span> {{ 'page.content.diplomes.actions.' + currentMode | translate }}</span>
        </button>
    </div>
  </form>
</ng-template>