.container-fluid{
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: auto 1fr;
    grid-template-areas: 
        "header main"
        "nav main"
        "footer main";
    height: 100vh;
    margin: 0;
    padding: 0;
}
header{
    grid-area: header;
    background-color: white;
}
nav{
    grid-area: nav;
    background-color: #80bce0;
}
main{
    grid-area: main;
    background-color: #f0f0f0;
}
footer{
    grid-area: footer;
    background-color: white;
}
