<div class="menu">
    <nav class="sidenav">
        <a routerLink="/diplomes">
            <fa-icon [icon]="faGraduationCap"></fa-icon>
            <span> {{ 'page.layout.menu.diplomes' | translate }}</span>
        </a>
        <a routerLink="/offres">
            <fa-icon [icon]="faCertificate"></fa-icon>
            <span> {{ 'page.layout.menu.offres' | translate }}</span>
        </a>
        <a routerLink="/candidats">
            <fa-icon [icon]="faPeopleGroup"></fa-icon>
            <span> {{ 'page.layout.menu.candidats' | translate }}</span>
        </a>
    </nav>
</div>