.menu {
    min-width: 60px;
    padding: 8px;
}
nav {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    background: var(--secondary-color);
}
nav a {
    font-size: 26px;
    color: #fff;
    text-decoration: none;
    padding: 20px;
    text-align: center;
}
nav a:hover {
    background-color: #0079c1;
}